$pc: 681px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.container {
  border: 2px solid white;
  font-family: system-ui;
  display: inline-block;
  text-align: center;
  @include pc {
    width: 25vw;
  };
  @include tab {
    width: 80vw;
  };
  @include sp {
    width: 90vw;
  }
}
.putImage, .submit{
  display: none;
}
.putPlace{
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
  line-height: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: .8rem;
  letter-spacing: 1px;
  resize: none;
  overflow: hidden;
}
.putDescription {
  @extend .putPlace;
  line-height: 1.2rem;
}
.putImageLabel, .submitLabel {
  transition: all 0.2s;
  display: inline-block;
  margin: 5px auto;
  padding: 5px;
  background-color: rgb(125,187,68);
  border: 1px solid white;
  border-radius: 2px;
  &:hover{
    border-color: #FFF;
    box-shadow: inset 0 0 20px 
    rgba(255, 255, 255, .5), 0 0 20px 
    rgba(255, 255, 255, .5);
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px #000;
    cursor: pointer;
    cursor: pointer;
  }
}