$pc: 681px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.container {
  min-height: 75vw;
}
.printPlaces {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  div {
    border: 1px solid white;
    margin: 5px auto;
    @include pc {
      max-width: 24vw;
      max-height: 35vw;
    };
    @include tab {
      width: 80vw;
    };
    @include sp {
      width: 90vw;
    };
    img {
      @include pc{
        max-width: 99%;
        max-height: 99%;
      };
      @include tab {
        max-width: 99%;
        max-height: 99%;
      };
      @include sp {
        max-width: 99%;
        max-height: 99%;
      };
    };
    li {
      font-size: 1rem;
      border-bottom: 1px solid white;
    };
    p {
      font-size: .8rem;
    };
  }
}
.title{
  color: aquamarine;
  font-family: system-ui;
}
